body {
  background: linear-gradient(#23252a, #000000);
  color: #ecb36f;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a55226;
  padding: 20px;
  text-align: center;
}

section{
  padding: 20px;
}

footer{
  background-color: #d07335;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
